@{
    ViewBag.Title = "Contact";
}
<!--homepage of website-->
<!--submitted view-----Pahul hallan, shaffi khurana, harkamal kaur, sachindeep singh-->
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message1</h3>

<address>
    777 Markham Road<br />
    scarborough,ON 64736-63499<br />
    <abbr title="Phone">P: 1234567890</abbr>

</address>

