@{
    ViewBag.Title = "Home Page";
}
<!--homepage of website-->
<!--submitted view-----Pahul hallan, shaffi khurana, harkamal kaur, sachindeep singh-->
<img src="~/Assest/Images/banner.jpg"  width="1140"/>
<div class="jumbotron">
 @ViewBag.Message
</div>
